.__hacks {
    display: grid;

    h2 {
        font-family: "Albra";
    }

    .__pwd_table {
        background-color: $secondary-bg;
        border-radius: 8px;
        min-height: 600px;
        min-width: 90%;
        text-align: center;

        table{
            height: 100%;
            width: 100%;
        }
    }
}