.__password_manager {
    display: grid;
    padding: 10% 0;
    overflow: hidden;
    //border: lime solid 1px;

    h2 {
        font-family: "Albra";
    }

    table {
        margin: 0 auto;
        background-color: $secondary-bg;
        border-radius: 8px;
        width: 100%;
        min-height: 450px;

        a{
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        thead>tr>th {
            font-weight: normal;
        }

        th,
        td {
            padding: 20px;
        }
    }

    @media only screen and (max-width: 700px) {
        padding: 10px;

        table {
            width: 100%;
            font-size: 0.8rem;

            thead>tr>th {
                font-size: 0.8rem;
            }

            .__features, .__price {
                display: none;
            }
        }
    }
}