.__password_manager {
    display: grid;
    padding: 10% 0;

    h2 {
        font-family: "Albra";
    }

    table {
        margin: 0 auto;
        background-color: $secondary-bg;
        border-radius: 8px;
        width: 100%;
        min-height: 450px;

        thead>tr>th {
            font-weight: normal;
        }

        th,
        td {
            padding: 20px;
        }
    }
}