.__password_generator {
    display: grid;
    overflow: hidden;

    h2 {
        font-family: "Albra";
    }

    .__description {
        span {
            text-decoration: underline;
            font-weight: bold;
        }
    }

    .__table {
        text-align: center;
        margin: 50px auto 0 auto;

        td {
            border-bottom: solid 1px #8b8b8b;
            margin: -5px;
            padding: 20px;
            width: 180px;
        }

        .__middle_column {
            background-color: $secondary-bg;
        }

        .__last_row {
            border: none;
        }

        input {
            background-color: transparent;
            border: none;
            color: #ffffff;
            text-align: center;
        }

        button {
            cursor: pointer;
            background-color: #fff;
            border: none;
            border-radius: 6px;
            padding: 5px 10px;
            transition: 0.3s;

            &:hover {
                background-color: #c9c9c9;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        padding: 10px;

        .__table {
            margin: 0 !important;
            font-size: 0.8rem;

            td {
                width: 100vw;
                padding: 2px;
            }

            button {
                padding: 2px 4px;
            }
        }
    }
}