.__footer {
    //border: red solid 1px;

    .__brand {
        align-items: center;
        justify-content: center;
        display: inline-flex;
        margin-right: 20px;

        .__logo {
            width: 50px;
        }

        .__name {
            font-size: 20px;
            font-family: "Albra";
        }
    }

    .__infos {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;

        .__description {
            padding-right: 100px;
        }

        .__links {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;

            li {
                list-style: none;
                margin-bottom: 10px;
                margin-left: -30px;

                a {
                    color: $primary-text;
                    text-decoration: none;
                    transition: 0.2s;

                    &:hover {
                        color: #9f9f9f;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .__sentence {
        font-size: 18px;
        text-align: center;
        font-family: "Albra";
    }

    .__signature {
        text-align: center;

        a {
            color: $secondary-text;
            text-decoration: none;
        }

        span {
            color: #c44444;
        }
    }

    hr {
        margin: 40px 0;
        opacity: 0.4;
    }

    @media only screen and (max-width: 1200px) {
        .__infos {
            grid-template-columns: 1fr;
            margin: 10px;

            .__description {
                padding-right: 0;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        margin-top: 10%;
        text-align: center;
        
        .__infos {
            text-align: center;

            .__links {
                grid-template-columns: 1fr;
            }
        }
    }
}